.hero {
    padding-top: 79px;
    .container {
        padding-top: 36px;
    }

    &__fullbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__title-Popular {
        width: 386px;
        height: 29px;
        top: 116px;
        left: 527px;
        color: #000000;
        font-weight: 400;
        size: 24px;
        line-height: 29px;
        font-family: Montserrat Alternates;
        margin-bottom: 36px;
        text-align: center;
    }

    &__line-year {

        height: 2px;
        background-color: black;
        margin: 20px 0;
        width: 536px;
        top: 181px;
        left: 452px;
        border-width: 1px;

    }

    &__title-year {
        width: 283px;
        height: 20px;
        top: 217px;
        left: 578px;
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0%;
        margin-top: 15px;
        
    }

    &__input-box-year {
        display: flex;
        justify-content: flex-start;
        margin-top: 45px;
        margin-bottom: 25px;
        margin-right: 0px;

    }

    &__input-year {
        width: 190px;
        height: 35px;
        border-radius: 20px 0 0 20px;
        background: #D7D7D7;
        border: none;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        font-size: 12px;
        padding: 10px 10px 10px;
        font-family: Montserrat Alternates;
    }

    &__search-year {
        background-color: black;
        height: 35px;
        width: 35px;
        border-radius: 0px 20px 20px 0px;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;

        &:hover {
            background-color: gray;
            transition-duration: 0.6s;
          }
    }

    &__title-comp {
        width: 326;
        height: 20;
        top: 380px;
        left: 557px;
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        margin-top: 15px;


    }





    &__check-comp {
        width: 212;
        height: 15;
        top: 283px;
        left: 796px;
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.63px;
        letter-spacing: 0%;
        text-align: right;
        margin-left: 150px;
        color: green;

        
                        
    }


    
    &__check-year {
        width: 212;
        height: 15;
        top: 283px;
        left: 796px;
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.63px;
        letter-spacing: 0%;
        text-align: right;
        margin-left: 100px;
      color: green;
      
    }


    &__input-box-comp {
        display: flex;
        justify-content: flex-start;
        margin-top: 46px;
        margin-bottom: 25px;
        margin-right: 170px;
        margin-left: 170px;



    }
    
    &__input-comp {
        width: 150px;
        height: 35px;
        border-radius: 20px 0 0 20px;
        background: #D7D7D7;
        border: none;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        font-size: 12px;
        padding: 10px 10px 10px;
        font-family: Montserrat Alternates;



    }

    &__search-comp {
        background-color: black;
        height: 35px;
        width: 35px;
        border-radius: 0px 20px 20px 0px;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: gray;
            transition-duration: 0.6s;
          }



    }

}