.time {
  .container {
    padding-bottom: 36px;
    padding-top: 36px;
  }
  &__input {
    padding: 10px 45px 10px 10px;
    gap: 10px;
    border-radius: 20px;

    border: none;
    background: #d7d7d7;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #7e7e7e;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
  


   
  
    @media screen and (min-width: 1090px) {
      margin-right: 166px;
    }



  }
  &__calk {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 36px;
  }
  &__text {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
    max-width: 150px;
  }
  &__box {
    display: flex;
    justify-content: center;
   
    max-width: 736px;



   
  
    @media screen and (min-width: 1090px) {
    margin-left: 150px;
    }






  }
  &__button {
    background-color: #00f7ea;
    font-family: "Montserrat Alternates";
    font-size: 15px;
    border-radius: 50%;
    margin-left: 50px;
    transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: black;
      color: aqua;
      transition-duration: 0.6s;
    }
  }

  &__equality {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
  }
}

.ghgh {
  display: none;
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1090px) {
    width: 100px;
    position: relative;
    left: -80px;
    display: block;
    bottom: -10px;
  }
}

.l335553 {
  background-color: black;
  height: 35px;
  width: 35px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  left: -33px;
  cursor: pointer;


  @media screen and (min-width: 768px) {
    left: -30px;
    bottom: 0px;
  }

  @media screen and (min-width: 1090px) {
    left: -200px;
    bottom: 0px;
    }





  &:hover {
    background-color: gray;
    transition-duration: 0.6s;
  }
}
