body {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/bg.webp);
  background-size: cover;
   background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1090px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}





button {
  cursor: pointer;
  
}


.none{
  display: none;
}
