body {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/bg.webp);
  background-size: cover;
   background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  
  @media screen and (min-width:480px)  {
   width: 480px; 
}
@media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1090px) {
    width: 1090px;
  }
}





button {
  cursor: pointer;
  background-color: transparent;
}

.dark-mode a {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-mode {
  background-color: #333333;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .container {
  background-color: #444444;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .header {
  background-color: #444444;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .footer {
  background-color: #444444;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .hero__line-year {
  background-color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .calc__border {
  border-top: solid white 1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .dino__border {
  border-top: solid white 1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .dino__dino {
  background-image: url(../img/white-dino.webp);
}

.dark-mode .dino__cactus {
  background-image: url(../img/white-cactus.webp);
  transform: scale(3.5);
  top: 190px;
  background-color: none;
}

.dark-mode .socker__border {
  border-top: solid white 1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .numbers__border {
  border-top: solid white 1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .science__border {
  border-top: solid white 1px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode p {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode h1 {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode h2 {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode h3 {
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.dark-mode .science__name {
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .header__logo {
  background-image: url(../img/white-logo.webp);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .footer__logo {
  background-image: url(../img/white-logo1.webp);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .modal {
  background-color: #444444;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .register{
  background-color: #616161;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-mode span{
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}







.dark-mode .game__description{
  color: white;
}


.dark-mode .calc__number1 {
  color: #000;
}



.dark-mode #result-text {
  color: white;
}



.dark-mode .hero__check-year {
  color: rgb(8, 170, 8);
}


.dark-mode .hero__check-comp {
  color: rgb(8, 170, 8);
}




.none{
  display: none;
}
