.mobilee {
    background-color: #797777;

    &__backdropp {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      
      }

      &__windoww {
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        background: #ffffff;
        flex-shrink: 0;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        height: 150px;
        padding-top: 15px;
        width: 78%;

        @media screen and (min-width: 768px) {
          width: 50%;
        }
        @media screen and (min-width: 1090px) {
          width: 30%;
         
        }
    
      }

      &__backdropp.is-hidden &__windoww {
        transform: translate(0);
        transform: scale(0);
      }
    }

    .dinomodal {
        &__btn {
            position: absolute;
            top: 3%;
            left: 90%;
            transform: rotate(45deg);
            font-size: 20px;

            @media screen and (min-width: 1090px) {
              left: 94%;
              font-size: 25px;
            }
        }
        &__title {
            text-align: center;
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            font-family: Montserrat Alternates;
            margin-bottom: 6px;

            @media screen and (min-width: 1090px) {
             font-size: 20px;
             margin-bottom: 15px;
            }
        }

        &__text {
            color: #000000;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            font-family: Montserrat Alternates;
            padding-left: 10px;
            margin-bottom: 6px;

            @media screen and (min-width: 1090px) {
             padding-left: 30px;
             font-size: 16px;
            }
        }
    }