<section class="calc">
  <div class="container">
    <h1 class="calc__title">Калькулятор</h1>
    <input type="text" class="clac__number1" placeholder="Введіть число" />
    <div class="clac__box">
      <ul class="calc__list">
        <li class="calc__item">
          <button class="clac__button- expression">+</button>
        </li>
        <li class="calc__item">
          <button class="clac__button- expression">*</button>
        </li>
        <li class="calc__item">
          <button class="clac__button- expression">-</button>
        </li>
        <li class="calc__item">
          <button class="clac__button- expression">/</button>
        </li>
      </ul>
    </div>
    <input type="text" class="clac__number2" placeholder="Введіть число" />
    <button class="calc__res">=</button>
    <input type="text" class="calc__res-inp" placeholder="Резуьтат" />
  </div>
</section>
