<section class="calc">
  <div class="calc__border"></div>
  <div class="container">
    <h1 class="calc__title">Калькулятор</h1>
    <div class="calc__box">
      <input type="text" class="calc__number1" placeholder="Введіть число" />
      <ul class="calc__list">
        <li class="calc__item">
          <button class="calc__button-expression" type="button">+</button>
        </li>
        <li class="calc__item">
          <button class="calc__button-expression" type="button">*</button>
        </li>
        <li class="calc__item">
          <button class="calc__button-expression" type="button">-</button>
        </li>
        <li class="calc__item">
          <button class="calc__button-expression" type="button">/</button>
        </li>
      </ul>
      <input type="text" class="calc__number1" placeholder="Введіть число" />
      <button class="calc__button-expression" type="button">=</button>
      <input type="text" class="calc__number2" placeholder="Резуьтат" />
    </div>
  </div>
  <div class="calc__border"></div>
</section>
