 <div class="mobilee">
    <div class="mobilee__backdropp is-hidden" data-modal>
      <div class="mobilee__windoww">
        <button class="dinomodal__btn" data-modal-close >+</button>
        <h2 class="dinomodal__title">Інструкція до гри</h2>
        <ul class="dinomodal">
           <li class="dinomodal__item">
               <p class="dinomodal__text">1. Для запуску гри натисніть в будь-якому місці.</p>
           </li>
           <li class="dinomodal__item">
               <p class="dinomodal__text">2. Для стрибка натисніть пробіл.</p>
           </li>
           <li class="dinomodal__item">
               <p class="dinomodal__text">3. Для перезапуску грм - знову натисніть в будь-якому місці.</p>
           </li>
        </ul>
      </div>
    </div>
  </div>