<div class="backdrop">
    <div class="modal">
        <button type="button" class="close__button" data-action="close-modal">
            <img class="close__button__icon" src="../img/icon-close.webp" alt="close">
        </button>
        <h2 class="modal__title">Дякую за підписку!</h2>
        <img src="../img/sword.webp" class="register__icon register__icon--left-top" alt="sword">
    <img src="../img/puzzle.webp" class="register__icon register__icon--left-bottom" alt="puzzle">
    <img src="../img/console.webp" class="register__icon register__icon--right-top" alt="code">
    <img src="../img/game.webp" class="register__icon register__icon--right-bottom" alt="game">
    </div>
</div>