<footer class="footer" id="footer__id">
    <div class="container">
        <div class="footer__nav">
            <a href="#hero"><div class="footer__logo"></div></a>
        <ul class="footer__list">
            <li class="footer__item">
                <p class="footer__contact">Тел: +38 (123) 456 78 90</p>
            </li>
            <li class="footer__item">
                <p class="footer__contact">E-Mail: codingmagic@gmail.com</p>
            </li>
            <li class="footer__item">
                <p class="footer__contact">Facebook: CodingMagic</p>
            </li>
            <li class="footer__item">
                <p class="footer__contact">Twitter: CodingMagic</p>
            </li>
            <li class="footer__item">
                <p class="footer__contact">Instagram: CodingMagic </p>
            </li>
        </ul>
        <div class="footer__regist">
            <div class="footer__box">
                <form id="subscribeForm" >
                    <input placeholder="Ваша ел. адреса..." type="email" class="footer__mail" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Введіть коректну email адресу">
                    <button type="submit" class="footer__btn open__button" data-action="open--modal">Підписатися</button>
                </form>
            </div>
        <p class="footer__description">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
    </div>
    </div>
</footer>