<button class="open__button">Open Modal</button>

<div class="backdrop">
  <div class="modal">
    <button type="submit" class="modal__close">
      <img class="modal__close-icon" src="./img/icon-close.webp" alt="close">
    </button>

    <h2 class="modal__title">Дякую за підписку!</h2>

    <div class="modal__icons">
      <img src="./img/sword.webp" class="modal__icon modal__icon--left-top" alt="sword">
      <img src="./img/puzzle.webp" class="modal__icon modal__icon--left-bottom" alt="puzzle">
      <img src="./img/console.webp" class="modal__icon modal__icon--right-top" alt="console">
      <img src="./img/game.webp" class="modal__icon modal__icon--right-bottom" alt="game">
    </div>
  </div>
</div>
