<section class="game">
  <div class="container">
    <h1 class="game__title">Камінь - ножиці - папір</h1>
    <ul class="game__list1">
      <li class="game__item"><button class="game__list-button"></button></li>
      <li class="game__item"><button class="game__list-button"></button></li>
      <li class="game__item"><button class="game__list-button"></button></li>
    </ul>
    <ul class="game__list2">
      <li class="game__item2">
        <h2 class="game__article">Рахунок:</h2>
      </li>
      <li class="game__item2">
        <h2 class="game__article"></h2>
        Комп’ютер - 0
      </li>
      <li class="game__item2">
        <h2 class="game__article"></h2>
        Ви - 0
      </li>
    </ul>
    <h2 class="game__description">Ви виграли раунд!</h2>
    <button class="game__button"></button>
  </div>
</section>
