<div class="mobile">
    <div class="mobile__backdrop is-hidden" data-mobile>
      <div class="mobile__window">
        <button class="mobile__button" type="button" data-mobile-close>
            <div class="menu__box">
            <ul class="menu__list">
                <li class="menu__items">
                    <p class="menu__filter">Числовий</p>
                </li>
                <li class="menu__items"> 
                    <p class="menu__filter">Ігровий</p>
                </li>
                <li class="menu__items"> 
                    <p class="menu__filter">Ознайомчий</p>
                </li>
            </ul>

            <ul class="menu__list2">
                <li class="menu__items2">
                    <a href="#acquaintance" class="menu__text">Наша команда</a>
                </li>
                <li class="menu__items2">
                    <a href="#footer__id" class="menu__text">Контакти</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>