<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <img src="" alt="" class="header__logo">
            <p class="header__logo-text">Coding</p>
            <img src="" alt="" class="header__magic">
            <ul class="header__list">
                <li class="header__item">
                    <p class="header__text">Інтерактив</p>
                    <img src="" alt="" class="header__arrow">
                </li>
                <li class="header__item">
                    <p class="header__text">Наша команда</p>
                </li>
                <li class="header__item">
                    <p class="header__text">Контакти</p>
                </li>
            </ul>
            <button class="header__btn">
                <img src="" alt="" class="sun">
            </button>
            <p class="header__greetings">Вітаємо, User!</p>
        </nav>
    </div>
</header>