<header id="header__jakor" class="header">
    <div class="container">
        <nav class="header__navigation">
            <a href="#hero"><div class="header__logo"></div></a>
            <ul class="header__list">
                <li class="header__item header__interactive">
                    <p class="header__text">Інтерактив</p>
                    <img src="./img/arrow.webp" alt="" class="header__arrow">
                    <div class="header__dropdown">
                      
                        <button id = "nunn1" class="header__dropdown-item">Числовий</button>
                        <button id = "nuj2" class="header__dropdown-item">Ігровий</button>
                        <button id = "nul3" class="header__dropdown-item">Ознайомчий</button>
                       
                    </div>
                </li>
                <li class="header__item">
                    <a href="#acquaintance" class="header__text">Наша команда</a>
                </li>
                <li class="header__item">
                    <a href="#footer__id" class="header__text">Контакти</a>
                </li>
            </ul>
            <label class="header__theme">
                <input class="header__theme-changer" type="checkbox">
                <span class="header__theme-slider">
                  <img class="header__theme-icon header__theme-icon-sun" src="./img/sun-icon.webp" alt="Light theme" value="light">
                  <img class="header__theme-icon header__theme-icon-moon" src="./img/moon-icon.webp" alt="Black theme" value="dark">
                </span>
            </label>
            <p class="header__greetings">Вітаємо, User!</p>

            <button class="header__burger" data-mobile-open type="button">
               <img src="./img/menu.svg" alt="" class="header__menu">
              </button>
        </nav>
    </div>
</header>