<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <img src="../img/logo.webp" alt="" class="header__logo">
            <ul class="header__list">
                <li class="header__item">
                    <p class="header__text">Інтерактив</p>
                    <img src="../img/arrow.webp" alt="" class="header__arrow">
                </li>
                <li class="header__item">
                    <p class="header__text">Наша команда</p>
                </li>
                <li class="header__item">
                    <p class="header__text">Контакти</p>
                </li>
            </ul>
            <button class="header__btn">
                <img src="../img/sun-icon.webp" alt="" class="header__sun">
            </button>
            <p class="header__greetings">Вітаємо, User!</p>
        </nav>
    </div>
</header>