<section class="hero">
    <div class="container">
      <h1 class="hero__title-Popular">Популярні інтерактивні ігри</h1>
      <div class="hero__line-year"></div>
        <h2 class="hero__title-year">Перевір в який рік ти народився</h2>
        <div class="hero__box-year">
          <div class="hero__input-button-year">
            <input
              type="text"
              placeholder="Введіть рік народження"
              class="hero__input-year"
            />
            <button class="hero__search-year" type="button" aria-label="button confirm">
              <svg class="hero__svg-year">
                <use href="./images/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
          <p class="hero__text-year">Введіть свій рік народження</p>
        </div>
     <h2 class="hero__title-Comp">Вгадай число, яке загадав комп’ютер</h2>
        <div class="hero__flex-Comp">
          <div class="hero__input-shadow-Comp">
            <input
              type="text"
              placeholder="Введіть число"
              class="hero__input-Comp"
            />
            <button class="hero__search-bg-Comp" aria-label="button confirm">
               <svg class="hero__icon-Comp">
                 <use href="./images/sprite.svg#search"></use>
               </svg>
            </button>
          </div>
          <p class="hero__text-Comp">Введіть число</p>
        </div>
    </div>
    </section>