
<section class="nubers">

    <div class="container">


<h2 class="logo">Введіть 3 числа</h2>

<ul class="game2">

<li class="element1"><input type="text" name="" id="" class="imp1" placeholder="Введіть число" ></li>
<li class="element2"><input type="text" name="" id="" class="imp2" placeholder="Введіть число" ></li>
<li class="element3"><input type="text" name="" id="" class="imp3" placeholder="Введіть число" ></li>

</ul>
<div class="fix">
<p class="text">Найбільше число, яке ви ввели - (число)</p>
<p class="num" id="result223"></p>
</div>
</div>
</section>
