<section class="register">
    
    <div class="register__container">
        

        <p class="register__text">
            Привіт!<br>
            Ви потрапили на сайт інтерактивних ігор та завдань.<br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!
        </p>
    <div class="register__box">
    
        <label for="username" class="register__label">Введіть своє ім’я:</label>
        <input type="text" id="username" class="register__input" placeholder="Ваше ім’я...">
        
        <button class="register__button">Зберегти</button>
    </div>
    </div>
    

    <img src="./img/sword.webp" class="register__icon register__icon--left-top" alt="sword">
    <img src="./img/puzzle.webp" class="register__icon register__icon--left-bottom" alt="puzzle">
    <img src="./img/console.webp" class="register__icon register__icon--right-top" alt="code">
    <img src="./img/game.webp" class="register__icon register__icon--right-bottom" alt="game">
    <div class="register__backdrop"></div>
    <button class="register__close">&times;</button>
</div>
</section>
