<section class="science">
  <div class="container">
    <div class="science__border"></div>
    <h2 class="science__title">Обери вченого/их</h2>
    <ul class="science__list">
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
      <li class="science__item"></li>
    </ul>
    <ul class="science__list2">
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">Які вчені народилися в 19 ст.</h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">Знайти рік народження Albert Einshtein</h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">Відсортувати вчених за алфавітом</h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">
            Відсортувати вчених за кількістю прожитих років
          </h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">
            Видалити всіх вчених, ім’я яких починається на “А”
          </h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">
            Знайти вченого, який народився найпізніше
          </h2>
        </button>
      </li>
      <li class="science__item2">
        <button class="science__button" type="button">
          <h2 class="science__text">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
          </h2>
        </button>
      </li>
    </ul>
    <button class="science__button2" type="button">
      <h2 class="science__text">
        1. Знайти вчених, в яких співпадають перші літери імені і прізвища
      </h2>
    </button>
  </div>
</section>
