<section id="acquaintance" class="team">
    <div class="container">
      <h2 id="our-team-anchor" class="team__title">Наша команда</h2>
      <div class="team__flex">
        <button class="team__btn team__btn--left" aria-label="slide to left">
          <img src="../img/arrow.webp" alt="" class="team__left-photo">
        </button>
        <ul class="team__photos">
          <li class="team__photo">
            <div class="team__img">
              <img src="../img/timomomoha.webp" alt="timoha" class="team__img--tima">
            </div>
          </li>
          <li class="team__photo">
            <div class="team__img team__hidden team__img--artur">
              <img src="../img/olehka.webp" alt="olya olya olya" class="team__img--olya">
            </div>
          </li>
          <li class="team__photo">
            <div class="team__img team__hidden">
              <img src="../img/kirillilchik.webp" alt="kirilloid" class="team__img--kirril">
            </div>
          </li>
          <li class="team__photo">
            <div class="team__img team__hidden">
              <img src="../img/boris.webp" alt="vagrus" class="team__img--boris">
            </div>
          </li>
        </ul>
        <div class="team__photo"></div>
        <button class="team__btn team__btn--right" aria-label="slide to right">
            <img src="../img/arrow.webp" alt="" class="team__right-photo">
        </button>
      </div>
      <ul class="team__names">
        <li class="team__name">
          <p class="team__student-name">Тіма</p>
        </li>
        <li class="team__name">
          <p class="team__student-name team__hidden">Ольга</p>
        </li>
        <li class="team__name">
          <p class="team__student-name team__hidden">Кирил</p>
        </li>
        <li class="team__name">
          <p class="team__student-name team__hidden">Борислав</p>
        </li>
      </ul>
      <ul class="team__work-list">
        <li class="team__work-item">
          <p class="team__work-text">Teamlead</p>
        </li>
        <li class="team__work-item">
          <p class="team__work-text team__hidden">Scrum Master, Developer</p>
        </li>
        <li class="team__work-item">
          <p class="team__work-text team__hidden">Developer</p>
        </li>
        <li class="team__work-item">
          <p class="team__work-text team__hidden">Developer</p>
        </li>
      </ul>
      <ul class="team__list">
        <li class="team__item">
          <div class="team__page team__page--curr"></div>
        </li>
        <li class="team__item">
          <div class="team__page"></div>
        </li>
        <li class="team__item">
          <div class="team__page"></div>
        </li>
        <li class="team__item">
          <div class="team__page"></div>
        </li>
      </ul>
    </div>
  </section>