<section class="time">
  <div class="container">
    <h2 class="time__calk">Калькулятор часу</h2>
    <div class="time__box">
      <input
        type="text"
        id="immp"
        class="time__input"
        placeholder="Введіть число"
      />
      <p class="time__text" id="day">
        <span class="time__equality">0</span> дн.
        <span class="time__equality">00</span>:<span class="time__equality"
          >00</span
        >:<span class="time__equality">00</span>
      </p>
      <button class="time__button" id="dut" type="button">йоу?</button>
    </div>
  </div>
</section>
